/**
 * Base styles
 */
body {
  font: 100% / 1.414 "Poiret One", "Roboto", sans-serif;
}

/**
 * Layout styles
 */
header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**
 * Button component
 */
.btn {
  position: relative;
  top: 0;
  margin-top: 50%;
  opacity: 0;
  font-size: 1rem;
  color: #fff;
  border-radius: 2.1875rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.btn:focus, .btn:hover {
  color: #111;
  background-color: #fff;
  border-color: #fff;
}

/**
 * Grid styles
 */
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.45);
  -webkit-transition: background-color .55s ease-in-out;
          transition: background-color .55s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.05);
}
.item__overlay:focus > button, .item__overlay:hover > button {
  opacity: 1;
}
.grid__sizer,
.grid__item {
  position: relative;
  width: 20%;
  min-width: 16.25rem;
}
.grid__item {
  margin-bottom: .9375rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**
 * Link styles
 */
a,
.fa {
  color: #bbb;
  -webkit-transition: color .25s ease-in-out;
          transition: color .25s ease-in-out;
}
a:focus, a:hover,
.fa:focus,
.fa:hover {
  text-decoration: none;
  color: #666;
}
.active .fa {
  color: #f62459;
} 
